# Application related stuff
PORT=3000
LOG_LEVEL="debug"
NODE_ENV="development"
HOST="localhost:3000"
APP_EMAIL="node-typescript-boilerplate@sample.com"
APP_MAX_LOGIN_ATTEMPTS=5
APP_LOCKOUT_TIME=5  #in minutes

# Random JWT string
JWT_SECRET="akdGDFHG=-0FDDASjDrff="

MONGODB_URI="mongodb://localhost:27017/node-typescript-boilerplate"

# Email service client 
# You can use anyone you prefer. Mailgun is used here because it's popular and has a free subscription.
# For more infor https://app.mailgun.com
MAILGUN_API_KEY="Mailgun api key goes here"
MAILGUN_API_DOMAIN="domain goes here"

# Agend stuff (for cron jobs. Read more on it here https://github.com/agenda/agenda)
AGENDA_DB_COLLECTION="AgendaJobs"
AGENDA_CONCURRENCY=20